In [1]:
from funsql import Hook, readTemplates
ph = Hook({
    "host"      : "psql-mock-database-cloud.postgres.database.azure.com",
    "port"      : "5432",
    "user"      : "nxhbvewxsaijdisfftwjgpuw@psql-mock-database-cloud",
    "password"  : "aexcrtmmacdnrmpsomnnsvov",
    "database"  : "booking1666875447372qmebziyvxnskbwrb"
})
query = readTemplates("./funsql/data/sql_templates.sql")

In [2]:
my_sample = query.sample10('pg_tables')
my_sample

SELECT * FROM pg_tables LIMIT 10;

In [3]:
my_sample()

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,company,ddvrvydmclaoowbfkhtdyyph,None,True,False,False,False
1,public,property_history,ltmtskflkgwwrgxhvwlozebc,None,True,False,False,False
2,public,config_item,ltmtskflkgwwrgxhvwlozebc,None,True,False,False,False
3,public,users,mock_database_root,None,False,False,False,False
4,public,appartments,mock_database_root,None,True,False,False,False
5,public,bookings,mock_database_root,None,False,False,False,False
6,pg_catalog,pg_statistic,azure_superuser,None,True,False,False,False
7,pg_catalog,pg_foreign_table,azure_superuser,None,True,False,False,False
8,pg_catalog,pg_authid,azure_superuser,pg_global,True,False,False,False
9,pg_catalog,pg_user_mapping,azure_superuser,None,True,False,False,False

In [7]:
query.sample10('mytable') + query.columns('healthcare','transactions') + query.sample10('transactions') + query.sample10('mytable')

SELECT * FROM mytable LIMIT 10;

SELECT *
  FROM information_schema.COLUMNS
 WHERE table_schema = 'healthcare'
   AND TABLE_NAME   = 'transactions'
     ;
SELECT * FROM transactions LIMIT 10;

SELECT * FROM mytable LIMIT 10;

In [6]:
query.sample10('public.users')

SELECT * FROM PUBLIC.users LIMIT 10;